@model RefrigeratorEditViewModel
@using TechCatalogAdminPanel.Models.Enums

<h1 class="text-center display-4">Edit @Model.Brand @Model.DeviceModel</h1>
<img src="@Model.Image" width="200" class="mx-auto d-block" />
<br />
<hr />
<form asp-action="EditRefrigerator" asp-controller="Device">
    <div class="container">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-sm form-group" align="center">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="col-sm form-group" align="center">
                <label asp-for="DeviceModel" class="control-label">Model</label>
                <input asp-for="DeviceModel" class="form-control" />
                <span asp-validation-for="DeviceModel" class="text-danger"></span>
            </div>
            <div class="col-sm form-group" align="center">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>

            <div class="col-sm form-group" align="center">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="col-sm form-group" align="center">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>


            <div class="col-sm form-group" align="center">
                <label asp-for="Warranty" class="control-label"></label>
                <input asp-for="Warranty" class="form-control" />
                <span asp-validation-for="Warranty" class="text-danger"></span>
            </div>

            <div class="col-sm form-group" align="center">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
    </div>

    <br />
    <hr />
    <h3 class="text-center">Other Specifications</h3>
    <br />
    <div align="center">
        <div class="col-md-3 form-group">
            <label asp-for="EnergyClass" class="control-label">Energy Class</label>
            <select asp-for="EnergyClass" class="form-control dropdown-toggle col-lg-12" asp-items="Html.GetEnumSelectList<EnergyClass>()">
                <option selected="selected" value="">Please select</option>
            </select>
            <span asp-validation-for="EnergyClass" class="text-danger"></span>
        </div>
        <div class="col-md-3 form-group">
            <label asp-for="Height" class="control-label"></label>
            <input asp-for="Height" class="form-control" />
            <span asp-validation-for="Height" class="text-danger"></span>
        </div>
        <div class="col-md-3 form-group">
            <label asp-for="Width" class="control-label"></label>
            <input asp-for="Width" class="form-control" />
            <span asp-validation-for="Width" class="text-danger"></span>
        </div>
        <div class="col-md-3 form-group">
            <label asp-for="Depth" class="control-label"></label>
            <input asp-for="Depth" class="form-control" />
            <span asp-validation-for="Depth" class="text-danger"></span>
        </div>
        <div class="col-md-3 form-group">
            <label asp-for="TotalCapacity" class="control-label">Total Capacity</label>
            <input asp-for="TotalCapacity" class="form-control" />
            <span asp-validation-for="TotalCapacity" class="text-danger"></span>
        </div>
        <div class="col-md-3 form-group">
            <label asp-for="CapacityRefrigerator" class="control-label">Capacity Refrigerator</label>
            <input asp-for="CapacityRefrigerator" class="form-control" />
            <span asp-validation-for="CapacityRefrigerator" class="text-danger"></span>
        </div>
        <div class="col-md-3 form-group">
            <label asp-for="CapacityFreezer" class="control-label">Capacity Freezer</label>
            <input asp-for="CapacityFreezer" class="form-control" />
            <span asp-validation-for="CapacityFreezer" class="text-danger"></span>
        </div>
        <div class="col-md-3 form-group">
            <label asp-for="NumberOfShelves" class="control-label">Number of Shelves</label>
            <input asp-for="NumberOfShelves" class="form-control" />
            <span asp-validation-for="NumberOfShelves" class="text-danger"></span>
        </div>
        <div class="col-md-3 form-group">
            <label asp-for="NoiseLevel" class="control-label">Noise Level</label>
            <input asp-for="NoiseLevel" class="form-control" />
            <span asp-validation-for="NoiseLevel" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group text-center">
        <input type="submit" value="Update @Model.Brand @Model.DeviceModel" class="btn btn-outline-primary" />
    </div>
</form>

